/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* general */
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
li{
    list-style: none;
}

:root {
    --color-primary: #080b12;
    --color-background-content: #141922;
    --color-text: #ffffff;
    --color-toolbar: #282828;
    --color-dark-transparent: 8, 11, 18;
    --color-underline: #adff2f;
    --color-side-bar-text: #717171;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.654);
    overflow: hidden;
}

.content {
    height: calc(100vh - 90px);
    width: 100%;
    background-color: var(--color-background-content);
}


/***** COLOR UTILITY ****/
.grey{
    color: var(--color-side-bar-text);
}

/******************************************* 
          HEADER 
********************************************/
.header {
    background-color: rgba(0, 0, 0, 0.835);
    height: 80px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 3000;
    width: calc(100% - 200px);
    overflow-y: hidden;
}
nav a::after{
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 60%;
    background: transparent;
}
.button{
    border: 1px solid var(--color-text);
    border-radius: 30px;
    padding: 7px 25px;
    align-self: center;
    margin-right: 20px;
    transition: 2s;
    text-transform: uppercase;
}
.header{
    justify-content: flex-end;
    display: flex;
}
.button:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: var(--color-underline);
}
.header a:hover{
    color: var(--color-background-content);
}
/* ALIGN UTILITY */
.text-center{
    text-align: center;
}
/****************************************** 
         MAIN
******************************************/
main {
    width: calc(100% - 200px);
    /* flex-grow: 1; */
    background-color: var(--color-background-content);
    padding-top: 100px;
    overflow-y: auto;
    color: var(--color-text);
}
/***** UL LI A UTILITY *****/
a{
    color: var(--color-side-bar-text);
    text-decoration: none;
    display: block;
}
nav a{
    padding: 10px;
    text-transform: uppercase;
}
nav a.active::after,
nav a:hover::after{
    background-color: var(--color-underline);
}
li a:hover{
    color: var(--color-text);
}
main ul li{
    border-bottom: 3px solid transparent;
}
/***********  END ***********/
.recently-title{
    padding: 25px 35px;
}
#created h2, #creaded, main .grey{
    padding: 15px 0;
}

h3{
    padding: 10px;
    font-size: 1em;
}
/******* SECTION RECENTLY *******/
.my-card{
    width: calc(100% / 6);
    cursor: pointer;
    overflow: hidden;
}
.my-card-img{
    position: relative;
}
#recently .my-card img{
    width: 100%;
    display: block;
}
.my-card:hover .my-card-img:after{
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
}

nav, .my-card{
    padding: 20px 10px;
    font-size: 0.8em;
}

.play:hover{
    display: none;
}
/*****************************************
        PLAYLIST
*******************************************/
#playlist-btn button{
    border-radius: 25%;
    padding: 5px 10px;
    margin: 0 5px;
}
.playlist-card-img{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.playlist-card-img img{
    border-radius: 6% 0 0 6%;
}
.playlist-mix-text{
    width: 200px;
}
.text-card{
    background-color: var(--color-toolbar);
    justify-content: center;
    align-items: center;
    border-radius: 0 6% 6% 0;
}
.contenitore-card-playlist{
    border-radius: 5%;
}

/*****************************************
        SIDE BAR
*******************************************/
#sidebar{
    width: 200px;
    min-height: 480px;
    overflow-y: hidden;
    background-color: var(--color-primary);
    /* flex-shrink: 0; */
}

#sidebar{
    color: var(--color-side-bar-text);
}
#sidebar ul li{
    border-left: 3px solid transparent;
}
.add-playlist:hover{
    cursor: pointer;  
}
#sidebar a.active::after,
#sidebar a:hover::after{
    background-color: var(--color-underline);
}
#sidebar ul li:hover {
    border-left: 3px solid rgb(173, 255, 48);
    overflow: hidden;
}
#sidebar h3{
   text-transform: uppercase;
   color: var(--color-text);
   margin: 30px 0;
}

#sidebar ul li{
    margin: 20px 0;
}

#logo-small{
    display: none;
    padding: 5px;
}
#sidebar .sidebar-top{
    height: calc(100% - 80px);
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
#sidebar .sidebar-bottom{
    height: 80px;
    width: 100%;
    padding: 5px 20px;
}
#sidebar .nav img{
    opacity: 0.8;
    height: 27px;
    width: auto;
    display: inline-block;
    vertical-align: bottom;
}
#sidebar ul .nav li a{
    padding: 0 5px 0 10px;
    border-left: 5px solid transparent;
}
#sidebar ul .nav li a .active,
#sidebar ul .nav li a:hover
{
    border-color: var(--color-underline);
}
#sidebar .playlist{
    min-height: 0;
}
.text-sidebar{
    display: inline ;
}
.new-play
#sidebar .playlist ul{
    height: calc(100% - 30px);
    overflow-y: auto;
}
#dowload,
#profile{
    width: 20px;
    margin-right: 5px;
    filter: invert(42%) sepia(9%) saturate(7%) hue-rotate(336deg) brightness(101%) contrast(84%);
}
.install, .install-text{
    cursor: pointer;
}
hr{
    width: 170px;
    margin: 0 auto;
    filter: invert(42%) sepia(9%) saturate(7%) hue-rotate(336deg) brightness(101%) contrast(84%);
    margin: 5px 0;
}
.account{
    padding-top: 10px;
}
#profile{
    border-radius: 60%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(343deg) brightness(106%) contrast(101%);
    background-color: grey;
    cursor: pointer; 
} 
#sidebar h4{
    color: var(--color-text);
    cursor: pointer;
}
/*************************** 
         IMAGE UTILITY 
****************************/
.my-card img{
    width: 100%;

}
.my-card-img{
    position: relative;
}
.my-card img:hover{
    opacity: 50%;
    cursor: pointer;
}

img{
    width: 100%;
    display: block;
}

/* container */
.container{
    padding: 20px;
}
.circle-photo{
    border-radius: 50%;
    overflow: hidden;
}
/****************************************** 
   TOOLBAR
*******************************************/
#toolbar {
    background-color: var(--color-toolbar);
    height: 90px;
    color: var(--color-text);
}
#toolbar img{
    width: 50px;
}
#toolbar h4, #toolbar summary,
#toolbar .fa-heart{
    padding: 0 20px;
}
#toolbar small{
    margin-left: 20px ;
}
.toolbar-left,
.toolbar-right{
    width: 25%;
}
.fa-heart:hover, .fa-folder:hover{
    cursor: pointer;
    color: var(--color-underline);
}
.toolbar-center{
    flex-grow: 1;
}
.toolbar-center ul li i{
    margin-left: 30px;
    font-size: 1.3em;
}
.progress-bar {
    width: 500px;
    height: 7px;
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.199);
    border-radius: 5px;
    display: flex;
    align-self: center;
    margin: 0 20px;
    transition: 1s;
    margin-top: 10px;
}
.progress-bar:hover{
    cursor: pointer;
}
.percentage:hover{
    transition: 6s;
    width: 80%;
    background-color: var(--color-underline);
}
.percentage {
    display: block;
    height: 100%;
    background-color: var(--color-text);
    border-radius: 5px;
    width: 10%;
}
.toolbar-center-top ul li i:hover,
.toolbar-right ul li i:hover{
    cursor: pointer;
    transition: 0s;
    transform: scale(1.3);
}
.toolbar-right div i{
    padding-left: 20px;
    cursor: pointer;
}
.progress-bar-2{
    width: 150px;
    height: 7px;
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.199);
    border-radius: 5px;
    display: flex;
    align-self: center;
    margin: 0 10px;
    transition: 1s;
    cursor: pointer;
}
/* flex-utility */
.d-flex {
    display: flex;
}
.j-space-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.align-c{
    align-items: center;
    align-content: center;
}
.f-end{
    align-items: flex-end;
}
.f-column{
    flex-direction: column;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: flex-end;
}
/*******************************************
            MEDIA QUERY 
*******************************************/
@media screen and (max-width:1200px){
    .f-wrap{
        flex-wrap: wrap;
    }
    .my-card{
        width: calc(100% / 4 );
    }
    .toolbar-left,
    .toolbar-right{
    width: 40%;
    }
    #toolbar .toolbar-center-bottom ul li{
        display: none;
    }
    .toolbar-right .progress-bar-2{
        display: none;
    }
}

@media screen and (max-width: 992px){
    .my-card{
        width: calc(100% / 3);
    }

    #toolbar .toolbar-left{
        display: flex;
    }
    #toolbar .toolbar-left img{
        width: 25px;
    }
    #toolbar .toolbar-left h4{
        display: none;
    }
    #toolbar .toolbar-left small{
        margin-left: 5px;        
    }
    #toolbar .toolbar-center-bottom .progress-bar{
        width: 350px;
        height: 5px;
}
    .toolbar-center ul li i{
    margin-left: 20px;
    font-size: 1.2em;
    }
}
@media screen and (max-width: 768px){
    .my-card{
        width: calc(100% / 2);
    } 
    #toolbar .toolbar-left img{
       display: none;
    }
    #toolbar .toolbar-center-bottom .progress-bar{
            width: 250px;
            height: 4px;
    }
    .toolbar-center ul li i{
        margin-left: 15px;
        font-size: 1em;
    }
}
@media screen and (max-width: 576px){
    #sidebar{
        width: 50px;
    }
    #sidebar h3, #sidebar .new-playlist{
        display: none;
    }
   #sidebar .sidebar-top,
   #sidebar .sidebar-bottom {
    padding: 10px;
   }
   #sidebar #logo{
    display: none;
   }
   #sidebar #logo-small{
    display: block;
    padding: 0px;
   }
    main{
        width: calc(100% - 50px);
    }
    .header{
        width: calc(100% - 50px);
        position: fixed;
        top: 0;
        left: 50px;
    }
    .text-sidebar{
        display: none;
    }

    #sidebar .nav img{
        justify-content: center;

    }
}
@media screen and (max-width: 400px){
    .my-card{
        width: 100%;
    } 
}